<!-- Background Animation -->
<div class="area" >
    <!-- Home page design -->
    <div class="nav">
      <h1 class="Logo">Naresh Kumar S 
        <svg class="svg" height="30px" width="30px" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-globe-central-south-asia" viewBox="0 0 16 16">
          <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0M4.882 1.731a.48.48 0 0 0 .14.291.487.487 0 0 1-.126.78l-.291.146a.7.7 0 0 0-.188.135l-.48.48a1 1 0 0 1-1.023.242l-.02-.007a1 1 0 0 0-.462-.04 7 7 0 0 1 2.45-2.027m-3 9.674.86-.216a1 1 0 0 0 .758-.97v-.184a1 1 0 0 1 .445-.832l.04-.026a1 1 0 0 0 .152-1.54L3.121 6.621a.414.414 0 0 1 .542-.624l1.09.818a.5.5 0 0 0 .523.047.5.5 0 0 1 .724.447v.455a.8.8 0 0 0 .131.433l.795 1.192a1 1 0 0 1 .116.238l.73 2.19a1 1 0 0 0 .949.683h.058a1 1 0 0 0 .949-.684l.73-2.189a1 1 0 0 1 .116-.238l.791-1.187A.45.45 0 0 1 11.743 8c.16 0 .306.084.392.218.557.875 1.63 2.282 2.365 2.282l.04-.001a7.003 7.003 0 0 1-12.658.905Z"/>
        </svg>
      </h1>
      
      <div class="nav-links">
        <button routerLink="/home" routerLinkActive="active" class="link">Home</button>
        <button routerLink="/blog" routerLinkActive="active" class="link" href="localhost:4200/blog">Blog</button>
        <button routerLink="/about" routerLinkActive="active" class="link">About</button>
      </div>
    </div>
  <ul class="circles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
 </ul>
 
<div class="Main">
  <p class="Welcome">Welcome to <span>MyVerse</span></p>
  <p class="Desc">Sharing my thoughts, experiences, and passions.</p>
  <p class="Desc">Join me on my personal journey as I explore the moments that shape who I am.</p>
  <button routerLink="/blog" class="btn button">Blog View</button>  
</div>
</div>
